<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Software_Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\DMUIC\Term 2\Modules\Visual Web Development\Assessment\Invoice_Billing_Software\DATABASE\Software_Database.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Invoice_Billing_Software.Properties.Settings.Invoice_and_Billing_SoftwareConnectionString"
   connectionString="Data Source=KARAN2408;Initial Catalog=&quot;Invoice and Billing Software&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Invoice_Billing_Software.Properties.Settings.Software_DatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DATABASE\Software_Database.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>


	<startup useLegacyV2RuntimeActivation="" Policy="true">
		<supportedRuntime version="v4.0" sku-=".NET Framework, Version-v4.5" />
	</startup>	

</configuration>
